@page
@model TGWebApp.Pages.CollegeModel
@{
    ViewData["Title"] = "Taft College 2017 - 2019 and U of U 2019 - 2021";
}

<h1>@ViewData["Title"]</h1>

<p>This page will be a recap of Tyler's College Baseball Carreer and other experience</p>

