@page
@model TGWebApp.Pages.HighSchoolModel
@{
    ViewData["Title"] = "American Fork High School 2012 - 2015";
}
<h1>@ViewData["Title"]</h1>

<p>This page will be a recap of Tyler's High School accomplishments and memories</p>