@page
@model TGWebApp.Pages.MissionModel
@{
    ViewData["Title"] = "New Zealand Wellington Mission 2015 - 2017";
}
<h1>@ViewData["Title"]</h1>

<p>This page will be a recap of Tyler's Mission experience</p>
